In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_table = pd.read_csv('data/data.txt',encoding='latin-1')
data_table

/Users/Jon/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINECODE,INSPDATE,ACTION,VIOLCODE,SCORE,CURRENTGRADE,GRADEDATE,RECORDDATE
0,30075445,MORRIS PARK BAKE SHOP,2,1007,MORRIS PARK AVE ...,10462.0,7188924968,8,2014-03-03 00:00:00,D,10F,2.0,A,2014-03-03 00:00:00,2014-09-04 06:01:28.403000000
1,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225.0,7182875005,39,2014-07-01 00:00:00,F,06A,23.0,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,10B,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
3,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234.0,7184443838,27,2014-05-29 00:00:00,D,08C,10.0,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
4,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,02G,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
5,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,10F,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
6,40356018,RIVIERA CATERER,3,2780,STILLWELL AVENUE,11224.0,7183723031,3,2014-06-10 00:00:00,D,10F,5.0,A,2014-06-10 00:00:00,2014-09-04 06:01:28.403000000
7,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374.0,7188967788,50,2013-01-17 00:00:00,D,06D,13.0,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000
8,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234.0,7184443838,27,2014-05-29 00:00:00,D,04M,10.0,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
9,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226.0,7188560821,43,2014-07-14 00:00:00,D,10F,12.0,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000
10,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234.0,7184443838,27,2014-05-29 00:00:00,D,10F,10.0,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
11,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219.0,7182560829,3,2014-07-18 00:00:00,D,06A,12.0,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000
12,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226.0,7188560821,43,2014-07-14 00:00:00,D,06C,12.0,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000
13,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,10I,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
14,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225.0,7182875005,39,2014-07-01 00:00:00,F,02G,23.0,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
15,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314.0,7186985800,50,2014-05-20 00:00:00,D,10H,12.0,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
16,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,10F,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
17,40361521,GLORIOUS FOOD,1,522,EAST 74 STREET,10021.0,2127372140,3,2014-09-02 00:00:00,U,04C,19.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
18,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374.0,7188967788,50,2013-01-17 00:00:00,D,02B,13.0,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000
19,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369.0,7183350505,3,2014-05-02 00:00:00,F,06D,10.0,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000
20,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,10E,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
21,40359480,1 EAST 66TH STREET KITCHEN,1,1,EAST 66 STREET ...,10065.0,2128793900,3,2014-05-07 00:00:00,D,10B,3.0,A,2014-05-07 00:00:00,2014-09-04 06:01:28.403000000
22,40358429,MAY MAY KITCHEN,3,1269,SUTTER AVENUE,11208.0,7182354485,20,2013-08-28 00:00:00,D,02B,7.0,A,2013-08-28 00:00:00,2014-09-04 06:01:28.403000000
23,40360045,SEUDA FOODS,3,705,KINGS HIGHWAY ...,11223.0,7183751500,50,2013-10-10 00:00:00,D,04L,13.0,A,2013-10-10 00:00:00,2014-09-04 06:01:28.403000000
24,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225.0,7182875005,39,2014-07-01 00:00:00,F,04J,23.0,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
25,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369.0,7183350505,3,2014-05-02 00:00:00,F,06A,10.0,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000
26,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314.0,7186985800,50,2014-05-20 00:00:00,D,06D,12.0,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
27,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314.0,7186985800,50,2014-05-20 00:00:00,D,06E,12.0,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
28,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219.0,7182560829,3,2014-07-18 00:00:00,D,06D,12.0,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000
29,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,06F,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531905,50014537,"1734 VICTORY BOULEVARD,INC.",5,1734,VICTORY BOULEVARD,10314.0,7187204900,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531906,50014563,FACEBOOK INC,1,770,BROADWAY,10003.0,6503675751,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531907,50014593,shinas pizza and grilling inc,4,88-38,SUTPHIN BOULEVARD ...,11435.0,3479655770,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531908,50014596,ALNINA CORP.,3,2474,OCEAN AVENUE,11229.0,9172021300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531909,50014597,Mian Noodle Bar,4,184-02,HORACE HARDING EXPRESSWAY,11365.0,5169677575,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531910,50014602,"NINETEEN TWENTY FOUR, INC",3,263,MOORE STREET ...,11206.0,7184171118,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531911,50014697,NEW JADE FOUNTAIN ENTERPRISES CORP,4,185-20,HORACE HARDING EXPRESSWAY,11365.0,7189399880,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531912,50014704,CREOLE 516 INC.,4,216-19,LINDEN BOULEVARD,11411.0,5164512071,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531913,50014705,JUICELAND PARK SLOPE INC,3,337,9 STREET,11215.0,7187881314,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531914,50014712,givers and takers,3,286,3 AVENUE ...,11215.0,9176271984,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531915,50014732,POPULAR CHICKEN INC,5,229,BROAD STREET,10304.0,3476068825,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531916,50014737,ZHONG ZHENG 26 RESTAURANT INC,1,26B,E BWAY ...,10002.0,2122199088,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531917,50014741,Q & Q BAKERY INC.,1,50,EAST BROADWAY,10002.0,2122262282,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531918,50014840,7 HUA JI PORT CHOP FAST FOOD INC,1,7,ALLEN STREET,10002.0,9179159663,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531919,50014853,MELT SHOP,1,877,8 AVENUE,10019.0,2125055861,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531920,50014866,IBM CAFETERIA,1,51,ASTOR PLACE,10003.0,8452341267,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531921,50014871,CIELO CAFE INC,4,147-36,NORTHERN BOULEVARD ...,11354.0,7188868871,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531922,50014875,MI RINCONCITO RESTAURANTE,2,131,EAST 169 STREET,10452.0,7186817474,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531923,50014882,MEANE JOE GREENE LLC,3,524,GRAND STREET ...,11211.0,9179165602,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531924,50014887,ZMA CORP,1,1159,3 AVENUE ...,10065.0,9176936031,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531925,50014889,SHARON'S ASIAN RESTAURANT INC,3,1232,AVENUE U,11229.0,9179578191,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531926,50014901,NUTELLERIA,3,82,5 AVENUE,11217.0,3473704444,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531927,50014920,FUSHIMI JAPANESE CUISINE,5,2110,RICHMOND ROAD,10306.0,7189805300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531928,50014921,Dunkin Donuts,1,542,EAST 14 STREET,10009.0,2125325003,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531929,50014955,Veinard Cafe Inc.,3,109,ORIENTAL BOULEVARD,11235.0,3478853050,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531930,50014960,PEPPA POT JAMAICAN CUISINE,4,134-28,GUY R BREWER BOULEVARD,11434.0,7185288200,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531931,50014972,BELLINI,1,483,COLUMBUS AVENUE,10024.0,2127244615,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531932,50014979,The Finch,3,212,GREENE AVENUE ...,11238.0,9176267596,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531933,50015011,ROAST KITCHEN,1,27,EAST 13 STREET ...,10003.0,2127764053,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531934,50015048,Vivire LLC,4,41-21,GREENPOINT AVENUE ...,11104.0,9176580796,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000

In [2]:
data_table = data_table.dropna(subset = ['ZIPCODE'])
#data_table = data_table[np.isfinite(data_table['ZIPCODE'])]
data_table

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINECODE,INSPDATE,ACTION,VIOLCODE,SCORE,CURRENTGRADE,GRADEDATE,RECORDDATE
0,30075445,MORRIS PARK BAKE SHOP,2,1007,MORRIS PARK AVE ...,10462.0,7188924968,8,2014-03-03 00:00:00,D,10F,2.0,A,2014-03-03 00:00:00,2014-09-04 06:01:28.403000000
1,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225.0,7182875005,39,2014-07-01 00:00:00,F,06A,23.0,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,10B,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
3,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234.0,7184443838,27,2014-05-29 00:00:00,D,08C,10.0,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
4,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,02G,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
5,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,10F,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
6,40356018,RIVIERA CATERER,3,2780,STILLWELL AVENUE,11224.0,7183723031,3,2014-06-10 00:00:00,D,10F,5.0,A,2014-06-10 00:00:00,2014-09-04 06:01:28.403000000
7,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374.0,7188967788,50,2013-01-17 00:00:00,D,06D,13.0,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000
8,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234.0,7184443838,27,2014-05-29 00:00:00,D,04M,10.0,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
9,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226.0,7188560821,43,2014-07-14 00:00:00,D,10F,12.0,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000
10,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234.0,7184443838,27,2014-05-29 00:00:00,D,10F,10.0,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
11,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219.0,7182560829,3,2014-07-18 00:00:00,D,06A,12.0,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000
12,40356731,TASTE THE TROPICS ICE CREAM,3,1839,NOSTRAND AVENUE ...,11226.0,7188560821,43,2014-07-14 00:00:00,D,06C,12.0,A,2014-07-14 00:00:00,2014-09-04 06:01:28.403000000
13,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,10I,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
14,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225.0,7182875005,39,2014-07-01 00:00:00,F,02G,23.0,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
15,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314.0,7186985800,50,2014-05-20 00:00:00,D,10H,12.0,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
16,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,10F,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
17,40361521,GLORIOUS FOOD,1,522,EAST 74 STREET,10021.0,2127372140,3,2014-09-02 00:00:00,U,04C,19.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
18,40356068,TOV KOSHER KITCHEN,4,97-22,63 ROAD,11374.0,7188967788,50,2013-01-17 00:00:00,D,02B,13.0,Z,2013-01-17 00:00:00,2014-09-04 06:01:28.403000000
19,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369.0,7183350505,3,2014-05-02 00:00:00,F,06D,10.0,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000
20,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,10E,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
21,40359480,1 EAST 66TH STREET KITCHEN,1,1,EAST 66 STREET ...,10065.0,2128793900,3,2014-05-07 00:00:00,D,10B,3.0,A,2014-05-07 00:00:00,2014-09-04 06:01:28.403000000
22,40358429,MAY MAY KITCHEN,3,1269,SUTTER AVENUE,11208.0,7182354485,20,2013-08-28 00:00:00,D,02B,7.0,A,2013-08-28 00:00:00,2014-09-04 06:01:28.403000000
23,40360045,SEUDA FOODS,3,705,KINGS HIGHWAY ...,11223.0,7183751500,50,2013-10-10 00:00:00,D,04L,13.0,A,2013-10-10 00:00:00,2014-09-04 06:01:28.403000000
24,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225.0,7182875005,39,2014-07-01 00:00:00,F,04J,23.0,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
25,40356151,BRUNOS ON THE BOULEVARD,4,88-25,ASTORIA BOULEVARD,11369.0,7183350505,3,2014-05-02 00:00:00,F,06A,10.0,A,2014-05-02 00:00:00,2014-09-04 06:01:28.403000000
26,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314.0,7186985800,50,2014-05-20 00:00:00,D,06D,12.0,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
27,40356442,KOSHER ISLAND,5,2206,VICTORY BOULEVARD,10314.0,7186985800,50,2014-05-20 00:00:00,D,06E,12.0,A,2014-05-20 00:00:00,2014-09-04 06:01:28.403000000
28,40356649,REGINA CATERERS,3,6409,11 AVENUE,11219.0,7182560829,3,2014-07-18 00:00:00,D,06D,12.0,A,2014-07-18 00:00:00,2014-09-04 06:01:28.403000000
29,40357217,WILD ASIA,2,2300,SOUTHERN BOULEVARD,10460.0,7182207846,3,2014-05-28 00:00:00,D,06F,11.0,A,2014-05-28 00:00:00,2014-09-04 06:01:28.403000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531905,50014537,"1734 VICTORY BOULEVARD,INC.",5,1734,VICTORY BOULEVARD,10314.0,7187204900,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531906,50014563,FACEBOOK INC,1,770,BROADWAY,10003.0,6503675751,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531907,50014593,shinas pizza and grilling inc,4,88-38,SUTPHIN BOULEVARD ...,11435.0,3479655770,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531908,50014596,ALNINA CORP.,3,2474,OCEAN AVENUE,11229.0,9172021300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531909,50014597,Mian Noodle Bar,4,184-02,HORACE HARDING EXPRESSWAY,11365.0,5169677575,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531910,50014602,"NINETEEN TWENTY FOUR, INC",3,263,MOORE STREET ...,11206.0,7184171118,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531911,50014697,NEW JADE FOUNTAIN ENTERPRISES CORP,4,185-20,HORACE HARDING EXPRESSWAY,11365.0,7189399880,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531912,50014704,CREOLE 516 INC.,4,216-19,LINDEN BOULEVARD,11411.0,5164512071,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531913,50014705,JUICELAND PARK SLOPE INC,3,337,9 STREET,11215.0,7187881314,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531914,50014712,givers and takers,3,286,3 AVENUE ...,11215.0,9176271984,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531915,50014732,POPULAR CHICKEN INC,5,229,BROAD STREET,10304.0,3476068825,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531916,50014737,ZHONG ZHENG 26 RESTAURANT INC,1,26B,E BWAY ...,10002.0,2122199088,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531917,50014741,Q & Q BAKERY INC.,1,50,EAST BROADWAY,10002.0,2122262282,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531918,50014840,7 HUA JI PORT CHOP FAST FOOD INC,1,7,ALLEN STREET,10002.0,9179159663,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531919,50014853,MELT SHOP,1,877,8 AVENUE,10019.0,2125055861,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531920,50014866,IBM CAFETERIA,1,51,ASTOR PLACE,10003.0,8452341267,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531921,50014871,CIELO CAFE INC,4,147-36,NORTHERN BOULEVARD ...,11354.0,7188868871,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531922,50014875,MI RINCONCITO RESTAURANTE,2,131,EAST 169 STREET,10452.0,7186817474,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531923,50014882,MEANE JOE GREENE LLC,3,524,GRAND STREET ...,11211.0,9179165602,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531924,50014887,ZMA CORP,1,1159,3 AVENUE ...,10065.0,9176936031,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531925,50014889,SHARON'S ASIAN RESTAURANT INC,3,1232,AVENUE U,11229.0,9179578191,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531926,50014901,NUTELLERIA,3,82,5 AVENUE,11217.0,3473704444,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531927,50014920,FUSHIMI JAPANESE CUISINE,5,2110,RICHMOND ROAD,10306.0,7189805300,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531928,50014921,Dunkin Donuts,1,542,EAST 14 STREET,10009.0,2125325003,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531929,50014955,Veinard Cafe Inc.,3,109,ORIENTAL BOULEVARD,11235.0,3478853050,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531930,50014960,PEPPA POT JAMAICAN CUISINE,4,134-28,GUY R BREWER BOULEVARD,11434.0,7185288200,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531931,50014972,BELLINI,1,483,COLUMBUS AVENUE,10024.0,2127244615,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531932,50014979,The Finch,3,212,GREENE AVENUE ...,11238.0,9176267596,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531933,50015011,ROAST KITCHEN,1,27,EAST 13 STREET ...,10003.0,2127764053,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531934,50015048,Vivire LLC,4,41-21,GREENPOINT AVENUE ...,11104.0,9176580796,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000

In [3]:
#Drop duplicate zipcodes and keep the most recent ones
duplicated = data_table.duplicated(subset='CAMIS')
duplicated

0         False
1         False
2         False
3         False
4          True
5          True
6         False
7         False
8          True
9         False
10         True
11        False
12         True
13        False
14         True
15        False
16         True
17        False
18         True
19        False
20         True
21        False
22        False
23        False
24         True
25         True
26         True
27         True
28         True
29         True
          ...
531905    False
531906    False
531907    False
531908    False
531909    False
531910    False
531911    False
531912    False
531913    False
531914    False
531915    False
531916    False
531917    False
531918    False
531919    False
531920    False
531921    False
531922    False
531923    False
531924    False
531925    False
531926    False
531927    False
531928    False
531929    False
531930    False
531931    False
531932    False
531933    False
531934    False
Length: 531933, dtype: bool

In [4]:
data_table = data_table.sort_values(by=['INSPDATE'])

data_table = data_table.drop_duplicates(subset='CAMIS',keep='last')
data_table

#^^^ WILL SORT THEN KEEP LAST ONES

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINECODE,INSPDATE,ACTION,VIOLCODE,SCORE,CURRENTGRADE,GRADEDATE,RECORDDATE
531934,50015048,Vivire LLC,4,41-21,GREENPOINT AVENUE ...,11104.0,9176580796,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531360,50009869,FINA PIZZA BAR,3,30-07,FORT HAMILTON PARKWAY,11218.0,7188543462,48,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531359,50009591,PA' CHANGO INC.,4,38-34,31 STREET,11101.0,3473035001,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531358,50009477,Anejo Tribeca,1,31,WALKER STREET ...,10013.0,2129206270,55,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531357,50009070,Mary's Dominican Cake Corp,4,94-54,CORONA AVENUE ...,11373.0,7183264055,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531356,50008935,BLACKSTONE KARAPONOS,3,128,CENTRAL AVENUE,11221.0,3479152244,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531355,50008837,SILVER KRUST WEST INDIAN RESTAURANT & GRILL,3,4809,CHURCH AVENUE,11203.0,7189402000,17,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531354,50008811,BOOBIETRAP,3,308,BLEECKER STREET ...,11237.0,9175190156,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531353,50008323,VIA CAROTA,1,51,GROVE STREET,10014.0,6464796864,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531352,50007632,SOUL OF THE SEA,3,829,VAN SICLEN AVENUE ...,11207.0,3474819830,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531351,50007613,PIZZA SUPERSTAR,3,446,DEAN STREET,11217.0,9172257392,62,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531350,50007253,FOREE OF HABIT LLC,1,15,EAST 18 STREET ...,10003.0,2129828005,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531349,50006304,Marten's Table,4,108-40,CORONA AVENUE,11368.0,9177479335,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531348,50006216,BLACK BEAR SUGARWORKS,3,374,5 AVENUE ...,11215.0,8025799802,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531347,50005235,SAHARA PLAZA,1,1,WEST 58 STREET,10019.0,2129869260,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531346,50004987,85 BROAD CAFE,1,85,BROAD STREET,10004.0,2129088039,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531345,50004280,PIZZA HUT,4,215-15,NORTHERN BOULEVARD ...,11361.0,9738089525,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531344,50003606,SBMF CORP.,4,122-18,18 AVENUE ...,11356.0,7183656262,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531343,50003362,"MUMBAI SHANGHAI, INC",1,579,6 AVENUE,10011.0,3476529095,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531342,50002950,ROBUSTA ESPRESSO BAR LLC,1,260,AUDOBON AVENUE,10033.0,2126892425,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531341,50002217,VIDA ENTERPRISES INC.,1,251,DYCKMAN STREET ...,10034.0,2125440406,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531340,50001760,A & R FOOD SERVICES INC,4,81,MARINE TERMINAL BLDG ...,11371.0,7186396015,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531339,50000987,PORT ATLANTIC YACHT CLUB,5,225,ELLIS STREET,10307.0,2018038006,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531338,41639593,LA NUEVA CLASICA ANTILLANA,3,116,MESEROLE STREET ...,11206.0,7187824581,77,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531361,50010286,Grand Banks,1,,PIER 25 ...,10013.0,9172083811,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531337,50012760,ED'S LOBSTER BAR,1,52,GANSEVOORT STREET ...,10014.0,7323714625,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531362,50010636,OLIVE'S,1,225,LIBERTY STREET,10280.0,2128580111,70,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531364,50011089,"BAMBOO TROPICAL, INC",4,59-13,71 AVENUE ...,11385.0,3472650020,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531387,50002915,TEDS CORNER TAVERN,1,523,3 AVENUE,10016.0,2126892676,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
531386,50002694,ART HOUSE GROUP INC,3,2751,OCEAN AVENUE,11229.0,787431323,99,1900-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2014-09-04 06:01:42.820000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52018,41396603,TACO CITY,1,1143,1 AVENUE ...,10065.0,2127546190,81,2014-09-02 00:00:00,U,04H,24.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
25328,41553986,2ND AVE BLUE 9 BURGER,1,1415,2 AVENUE ...,10021.0,2129888171,3,2014-09-02 00:00:00,U,02G,23.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
20376,41344566,MAY LUCK KITCHEN,4,149-11,JAMAICA AVENUE,11435.0,7186580917,20,2014-09-02 00:00:00,D,02B,11.0,A,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
52040,41400378,QUEENS BUFFET,4,90-10,ATLANTIC AVENUE,11416.0,7183237799,20,2014-09-02 00:00:00,U,04M,23.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
36639,50005166,JAVA BAR (I MAIL & MORE),3,1130,BEDFORD AVENUE ...,11216.0,7186224612,14,2014-09-02 00:00:00,U,04H,22.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
5522,40636533,JAPAN AIRLINES LOUNGE,4,0,JFK INTERNATIONAL AIRPORT ...,11430.0,7187511563,49,2014-09-02 00:00:00,U,10B,22.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
293477,41481394,GRAMERCY GRILL,1,32,LEXINGTON AVENUE,10010.0,2125053663,3,2014-09-02 00:00:00,F,10F,39.0,NaN,NaN,2014-09-04 06:01:28.403000000
129656,40759928,NINO'S PIZZA,3,9110,3 AVENUE,11209.0,7186800222,62,2014-09-02 00:00:00,P,02B,25.0,NaN,NaN,2014-09-04 06:01:28.403000000
76263,40392806,IHOP,4,15517,NORTHERN BOULEVARD ...,11354.0,7183535576,60,2014-09-02 00:00:00,P,09A,26.0,NaN,NaN,2014-09-04 06:01:28.403000000
499886,41395589,BERIMBAU,1,43,CARMINE STREET,10014.0,2122422606,13,2014-09-02 00:00:00,P,02G,21.0,NaN,NaN,2014-09-04 06:01:28.403000000
1981,40392410,DUNKIN' DONUTS,4,87-77,PARSONS BOULEVARD,11432.0,7185264820,29,2014-09-02 00:00:00,D,06A,12.0,A,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
191277,41225392,BAYARD'S ALEHOUSE,1,533,HUDSON STREET ...,10014.0,2129890313,3,2014-09-02 00:00:00,P,06D,25.0,NaN,NaN,2014-09-04 06:01:28.403000000
8578,40883586,EUREST DINING SERVICE (American Express),1,200,VESEY STREET,10281.0,2126404416,3,2014-09-02 00:00:00,D,04H,10.0,A,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
51680,41337836,ITHAKA,1,308,EAST 86 STREET,10028.0,2126289100,38,2014-09-02 00:00:00,D,08A,11.0,A,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
36096,50000638,EL TORO BRAVO,4,88-12,ROOSEVELT AVENUE,11372.0,7185050332,55,2014-09-02 00:00:00,U,02H,26.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
451710,41707486,ALEX STEAK HOUSE BAR & CAFE,1,4311,BROADWAY,10033.0,2127813555,78,2014-09-02 00:00:00,F,04A,48.0,NaN,NaN,2014-09-04 06:01:28.403000000
462827,50003387,VENUE,4,119-30,METROPOLITAN AVENUE,11415.0,7184873549,56,2014-09-02 00:00:00,F,04M,88.0,NaN,NaN,2014-09-04 06:01:28.403000000
3283,40424437,CAPRI BAKERY,1,186,EAST 116 STREET ...,10029.0,2124101876,8,2014-09-02 00:00:00,U,08A,25.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
47727,50007006,Villagio on the Park,1,40,CENTRAL PARK SOUTH ...,10019.0,2123694000,48,2014-09-02 00:00:00,U,04N,17.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
12970,41194745,GOLDEN PALACE GOURMET,4,14009,CHERRRY AVENUE ...,11355.0,7188864383,20,2014-09-02 00:00:00,U,10B,26.0,Z,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
433735,41648196,VOILA 76,1,1452,2 AVENUE,10021.0,2122882533,70,2014-09-02 00:00:00,P,04C,27.0,NaN,NaN,2014-09-04 06:01:28.403000000
291621,41391340,BODHI TREE,1,58,3 AVENUE,10003.0,2126775199,82,2014-09-02 00:00:00,P,02G,26.0,NaN,NaN,2014-09-04 06:01:28.403000000
433712,41645611,NICOLETTA,1,160,2 AVENUE ...,10003.0,2124321600,48,2014-09-02 00:00:00,P,02G,26.0,NaN,NaN,2014-09-04 06:01:28.403000000
462760,50003333,Grand Sichuan Chinese Restaurant,1,307,AMSTERDAM AVENUE,10023.0,2125800277,22,2014-09-02 00:00:00,F,06E,41.0,NaN,NaN,2014-09-04 06:01:28.403000000
36231,50000799,GIOVANNI'S PIZZA & MEXICAN RESTAURANT,4,45-59,47 STREET,11377.0,7186091630,55,2014-09-02 00:00:00,D,02G,13.0,A,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
5346,40609677,BURGER KING,5,20,WILLOW BROOK ROAD,10302.0,7188159700,39,2014-09-02 00:00:00,D,06D,10.0,A,2014-09-02 00:00:00,2014-09-04 06:01:28.403000000
462756,50003316,SUSHI ROYALE,3,462,AVENUE P,11223.0,7187874448,49,2014-09-02 00:00:00,G,05H,66.0,NaN,NaN,2014-09-04 06:01:28.403000000
473638,40511292,EL CASTILLO DE MADISON,1,207,MADISON STREET,10002.0,2122272892,53,2014-09-02 00:00:00,G,06C,55.0,NaN,NaN,2014-09-04 06:01:28.403000000
128771,40864834,ALMAR,3,111,FRONT STREET,11201.0,7188555288,3,2014-09-02 00:00:00,P,04C,25.0,NaN,NaN,2014-09-04 06:01:28.403000000
271829,41347049,MACONDO,1,157,EAST HOUSTON STREET ...,10002.0,2124739900,53,2014-09-02 00:00:00,B,NaN,NaN,NaN,NaN,2014-09-04 06:01:28.403000000

In [10]:
#Drop all rows in the series with zipcodes that appear less than 100 times 
def display_valid_zips(zip_series):
    for zip, frequency in zip_series.iteritems():
        if frequency <= 100:
            zip_series = zip_series.drop(zip)
    return zip_series

zip_restaurants = display_valid_zips(data_table['ZIPCODE'].value_counts())
zip_restaurants

#display_valid_zips(data_table['ZIPCODE'].value_counts)
#data_table['ZIPCODE'].value_counts()

10003.0    675
10019.0    660
10036.0    593
10001.0    509
10022.0    488
10013.0    480
10002.0    474
10011.0    463
10016.0    414
10014.0    408
10012.0    402
10017.0    376
11215.0    372
11211.0    365
11354.0    361
11201.0    345
10018.0    333
11372.0    319
11220.0    317
10009.0    312
11368.0    290
11209.0    264
11217.0    254
11385.0    252
11101.0    250
10010.0    246
11238.0    246
10025.0    237
11373.0    225
10028.0    214
          ...
11218.0    147
11205.0    145
11358.0    143
10004.0    142
11229.0    142
11203.0    141
10007.0    139
11207.0    136
10463.0    128
11204.0    123
11105.0    123
10033.0    120
11361.0    119
10032.0    117
11208.0    116
11104.0    114
11236.0    111
11221.0    111
10306.0    111
10472.0    108
10468.0    107
10034.0    106
11435.0    106
11232.0    106
11219.0    105
11369.0    104
10301.0    103
11230.0    102
10452.0    101
11225.0    101
Name: ZIPCODE, Length: 92, dtype: int64

In [9]:
#data_table.groupby(['CAMIS', 'ZIPCODE'])['SCORE'].sum().sort_values(ascending=False)

In [43]:
#Gather 92 series/list of all 92 restaurants and tally up the average scores
average_scores = {}
for k,v in zip_restaurants.iteritems():
    zip_df = data_table[data_table['ZIPCODE'] == k]
    zip_average = zip_df['SCORE'].sum() / v
    
    average_scores.update({k:'%.1f'%zip_average})
    
print(average_scores)

{10003.0: '10.5', 10019.0: '10.0', 10036.0: '10.0', 10001.0: '8.5', 10022.0: '10.3', 10013.0: '10.9', 10002.0: '10.2', 10011.0: '10.3', 10016.0: '11.0', 10014.0: '10.4', 10012.0: '10.5', 10017.0: '10.6', 11215.0: '10.3', 11211.0: '10.9', 11354.0: '12.0', 11201.0: '9.3', 10018.0: '11.1', 11372.0: '11.7', 11220.0: '11.9', 10009.0: '10.4', 11368.0: '9.8', 11209.0: '9.2', 11217.0: '9.4', 11385.0: '10.3', 11101.0: '9.5', 10010.0: '10.4', 11238.0: '9.2', 10025.0: '10.7', 11373.0: '10.6', 10028.0: '10.4', 11377.0: '11.3', 11103.0: '10.2', 10024.0: '10.6', 11226.0: '10.8', 10023.0: '9.7', 11355.0: '13.1', 10029.0: '11.1', 10458.0: '9.9', 11375.0: '11.1', 11222.0: '9.6', 11432.0: '10.7', 11223.0: '11.1', 10314.0: '10.9', 11214.0: '10.9', 11237.0: '10.2', 11235.0: '12.2', 10065.0: '9.9', 10467.0: '10.3', 10038.0: '10.5', 11216.0: '10.8', 10027.0: '10.0', 10128.0: '11.5', 11231.0: '9.3', 10451.0: '8.4', 11106.0: '10.6', 11249.0: '10.4', 10461.0: '9.4', 11206.0: '9.6', 10021.0: '11.6', 11234.0: '9.1', 10462.0: '10.1', 11430.0: '8.8', 11218.0: '9.6', 11205.0: '11.5', 11358.0: '10.6', 10004.0: '8.8', 11229.0: '11.9', 11203.0: '10.9', 10007.0: '9.0', 11207.0: '9.6', 10463.0: '10.3', 11204.0: '10.2', 11105.0: '10.0', 10033.0: '12.1', 11361.0: '9.8', 10032.0: '12.3', 11208.0: '11.5', 11104.0: '12.2', 11236.0: '9.1', 11221.0: '9.9', 10306.0: '9.3', 10472.0: '9.6', 10468.0: '9.8', 10034.0: '10.4', 11435.0: '9.8', 11232.0: '10.9', 11219.0: '10.7', 11369.0: '9.0', 10301.0: '9.5', 11230.0: '11.3', 10452.0: '8.8', 11225.0: '9.7'}